  $font-family: "Montserrat", sans-serif;
  $second-family: "Roboto", sans-serif;
  $header-text-color: #fff;
  $primery-text-color: #333;
  $secondery-text-color: #666;
  $button-bg-color: #ff4e50;
  $border-link-color: #fff;
  $border-btn-color: #ff4e50;