.header {
  background-image: url("../../img/header-fon.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 140px;
}
.nav {
  margin-bottom: 22px;
}
.nav__wrap {
  margin-bottom: 112px;
}

.nav__link {
  color: inherit;
  padding: 11px 5px;
}
.nav__link:last-child {
  margin-left: 5px;
}
.nav__logo {
  font-size: 18px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.content__title {
  font-size: 30px;
  text-transform: uppercase;
}

.content__text {
  font-weight: 300;
  font-size: 18px;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.content__button {
}
