.partners__title {
  font-size: 22px;
  color: $primery-text-color;
}

.partners__name {
  font-size: 14px;
  color: $primery-text-color;
}

.partners__info {
  font-weight: 300;
  font-size: 14px;
  color: $secondery-text-color;
}